@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,800&display=swap');

body {
  background-color: #000000;
}

.flexbox-container {
  
  display: flex;
  background-color: #333333;
  justify-content: center;
  flex-flow: column;
/*align-items: center;*/
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.flexbox-main {
  display: flex;
}

.flexbox-tools, .flexbox-resources {
  display: none;
}

li { 
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

a {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.983em;
  font-style: italic;  
  color: #B9B0AB;
  -webkit-text-stroke: 0.031em black;
  outline: none;
}

a:hover, a:focus, li.selected a {
  color: #E1DEDD;
}

li:hover, li:focus-within, li.selected {
  -webkit-transform-origin: left;
  -webkit-animation: zoomzoom 0.5s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier();
  transform-origin: left;
  animation: zoomzoom 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }

/* list item size adjusting */
@keyframes zoomzoom {
  from { transform: scale(1.5); }
  to { transform: scale(1.316); }
 }
  
