html {
  height: 100%;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index:5;
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#main{
  text-align: center;
}

.button{
  z-index:1;
  position: relative; 
  border-top: 5px solid #888888;
  border-left: 5px solid #999999;
  border-right: 5px solid #555555;
  border-bottom: 5px solid #666666;
  background-color: darkgray;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: -2px;
  margin-top: 50px;
  opacity: 0.75;

  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
}

.button p{
  border-top: 2px black;
  margin: 16px;
  clear: both;
  text-align: center;
  opacity: 1;
  text
}

.button a:link, a:visited, a:active, a:hover{
  text-decoration: none;
  color:black;
}

.button:hover{
  background-color: #777777;
  -moz-transition: background-color 0.33s;
  -webkit-transition: background-color 0.33s;
  -o-transition: background-color 0.33s;
}

.button:active{
  background-color: darkred;
  -moz-transition: background-color 0.33s;
  -webkit-transition: background-color 0.33s;
  -o-transition: background-color 0.33s;
}

.button2{
  z-index:1;
  position: relative; 
  border-top: 5px solid #888888;
  border-left: 5px solid #999999;
  border-right: 5px solid #555555;
  border-bottom: 5px solid #666666;
  background-color: darkgray;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: -2px;
  margin-top: 2px;
  opacity: 0.75;

  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
}

.button2 p{
  border-top: 2px black;
  margin: 16px;
  clear: both;
  text-align: center;
  opacity: 1;
  text
}

.button2 a:link, a:visited, a:active, a:hover{
  text-decoration: none;
  color:black;
}

.button2:hover{
  background-color: #777777;
  -moz-transition: background-color 0.33s;
  -webkit-transition: background-color 0.33s;
  -o-transition: background-color 0.33s;
}

.button2:active{
  background-color: darkred;
  -moz-transition: background-color 0.33s;
  -webkit-transition: background-color 0.33s;
  -o-transition: background-color 0.33s;
}








#ifrm1 {
  opacity: 0;
  transition: opacity 1.5s linear;
    z-index: 6;
}
#trig1:hover + iframe {
  opacity: 1;
  transition: opacity 1.5s linear;
    z-index: 6;
}

.asd0{
    position: absolute;
	width: 100%;
        top: 414px;
        left: 0px;
    z-index: 1;
}

.asd1{
  z-index:1;
  position: relative; 
  border-top: 5px solid #888888;
  border-left: 5px solid #999999;
  border-right: 5px solid #555555;
  border-bottom: 5px solid #666666;
  background-color: darkgray;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  height: 395px;
  opacity: 0.75;

  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
}

.asd2{
    position: relative;
        top: -16px;
    z-index: 1;
}













.soundcloud {
    position: fixed; 
    background:dimgray; 
    opacity: 0.75;
    width:100%;
    margin-left: -8px;
    margin-bottom: 0px;
    bottom:0;
	font-size: 10px;
	color: black;
    text-align: center;
}

.credit a:link, a:visited, a:active, a:hover{
	color: black
}

.credit{
    position: fixed; 
    background:dimgray; 
    opacity: 0.75;
    width:101%;
    margin-left: -8px;
    bottom:0;
	font-size: 10px;
	color: black;
    text-align: center;
}
